:root{
    --tani: 0.3px;
    --textcolor: #2e2e2e;
    --basecolor: #ffffff;
    --height: 131;
    --width: 420;
    --borderthickness: 5;
    /*UIの色*/
    --uicolorone: #ff6e42;
    --uicolortwo: #fea128;
}

button.button-one{
    display: block;
    position: relative;
    margin: 10px;
    padding: 0px;
    /*装飾の初期化*/
    background: none;
    border: none;

    /*サイズ調整*/
    height: calc(var(--tani) * var(--height) - (var(--tani) * var(--borderthickness)));
    width: calc(var(--tani) * var(--width) - (var(--tani) * var(--borderthickness)));

    top:0px;

    /*角丸処理*/
    border-radius: calc(var(--tani) * var(--height));

    /*背景色*/
    background: linear-gradient(135deg, var(--uicolorone), var(--uicolortwo));

    /*文字まわり*/
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.015em;
    font-size: calc(var(--tani) * var(--height) * 0.35);
    color: var(--basecolor);

}

button.button-one::before{
    content: "";
    display: block;
    position: absolute;
    top: calc(var(--tani) * var(--borderthickness) * -1);
    left: calc(var(--tani) * var(--borderthickness) * -1);
    height: calc(var(--tani) * var(--height) - (var(--tani) * var(--borderthickness)));
    width: calc(var(--tani) * var(--width) - (var(--tani) * var(--borderthickness)));
    padding: calc(var(--tani) * var(--borderthickness));
    z-index: -1;

    /*角丸処理*/
    border-radius: 9999px;

    /*背景*/
    background: linear-gradient(#e9d584,#f55f12);
}