body{
    padding: 0px;
    margin: 0px;
}

#wrapper{
    padding: 0px;
    margin: 0px;
}

#mobile{
    /*描画エリアサイズの設定(iphone15)*/
    display: block;
    position: relative;
    width: calc(720 * var(--tani));
    height: calc(1280 * var(--tani));
    padding: 0px;
    margin: 0px;
    /*background: repeating-linear-gradient(to right, #e98304,#e98304 calc(var(--tani)*15),#ecc7c7 calc(var(--tani)*15),#ecc7c7 calc(var(--tani)*30))*/
    background-color: #636064;
}

/*ビデオ*/
#video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
}

#canvas{
    object-fit: cover;
    display: block;
}

/*#overlay{
    background-color: #70a3fc;
}*/

/*会話エリア*/
.text-area{
    display: block;
    position: absolute;
    text-align: left;
    margin-left: calc(40 * var(--tani));
    top: calc(907 * var(--tani));
}

/*発言者*/
.speakername-area{
    position: relative;
    width: calc(283 * var(--tani));
    height: calc(42 * var(--tani));
    padding: 0px;
    margin: 0px;

    /*角丸の処理*/
    border-top-left-radius: calc(21 * var(--tani));
    border-top-right-radius: calc(21 * var(--tani));
    border-bottom-right-radius: calc(21 * var(--tani));

    background-color: aqua;
}

.speakername-area select{
    position: absolute;
    top:0;
    background: linear-gradient(to right, #d1e3e5,#98ccd9);
    color: var(--textcolor);
    width: 100%;
    height: 100%;
    /*名前パディング要調整*/
    padding-left: calc(var(--tani)*21);
    line-height: calc(42 * var(--tani));
    /*ここの値は職人技*/
    padding-top: calc(3.7 * var(--tani));

    /*角丸の処理*/
    border-top-left-radius: calc(21 * var(--tani));
    border-top-right-radius: calc(21 * var(--tani));
    border-bottom-right-radius: calc(21 * var(--tani));

    /*デザイン*/
    border: none;
    outline: none;
    box-shadow: none;
    overflow: hidden;
    background-clip: padding-box;
    appearance: none;

    /*文字の設定*/
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.015em;
    font-size: calc(var(--tani)*25);
}

.speakername-area select option{
    padding: 0px;
    margin: 0px;
    background: none;

    /*角丸の処理*/
    border-top-left-radius: calc(21 * var(--tani));
    border-top-right-radius: calc(21 * var(--tani));
    border-bottom-right-radius: calc(21 * var(--tani));
}


/*発話コンテンツ*/
.dialogue-area{
    display: block;
    position: relative;
    width: calc(640 * var(--tani));
    height: calc(182 * var(--tani));
    padding: 0px;
    margin: 0px;
    /*角丸の処理*/
    border-top-right-radius: calc(24 * var(--tani));
    border-bottom-left-radius: calc(24 * var(--tani));
    /*背景の線と透明度*/
    background-color: rgba(255,255,255,0.45);
    box-shadow: inset 0 0 0 calc(3 * var(--tani)) rgba(255,255,255,0.3);
    backdrop-filter: blur(calc(var(--tani)*50));
    -webkit-backdrop-filter: blur(calc(var(--tani)*50));
}

.dialogue-area p{
    padding: 0px;
    margin: 0px;
    padding-left: calc(var(--tani)*36);
    padding-right: calc(var(--tani)*36);
    padding-top: calc(var(--tani)*32);
    
    /*文字の設定*/
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--textcolor);
    letter-spacing: 0.015em;
    font-size: calc(var(--tani)*26);
    line-height: calc(var(--tani)*40);
}

.dialogue-area p input{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    
    /*文字の設定*/
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--textcolor);
    letter-spacing: 0.015em;
    font-size: calc(var(--tani)*26);
    line-height: calc(var(--tani)*40);

    /*背景*/
    background: none;
    box-shadow: none;
    border: none;

    width: 100%;
}

button{
    width:calc(var(--tani)*300);
    height:calc(var(--tani)*100);
}

/*テキスト次送りの矢印*/
div.arrow{
    display: block;
    position: absolute;
    top: calc(var(--tani) * 143);
    left: calc(var(--tani) * 594);
    animation: guigui .9s infinite;
}

div.arrow::before{
    content: "";
    display: block;
    position: relative;
    width: calc(var(--tani) * 4);
    height: calc(var(--tani) * 20);
    rotate: -50deg;
    transform: translateY(calc(var(--tani) * -15));
    border-radius: 9999px;
    background-color: #98ccd9;
}

div.arrow::after{
    content: "";
    display: block;
    position: relative;
    width: calc(var(--tani) * 4);
    height: calc(var(--tani) * 20);
    rotate: 50deg;
    border-radius: 9999px;
    background-color: #98ccd9;
    /*位置調整*/
    top: calc(sin(50deg) * var(--tani) * ( 33.5 + 5.5 ) * -1);
    left: calc(cos(50deg) * var(--tani) * (30 - 25) * 0.5);
}


@keyframes guigui{
    0% , 100% {transform: translate(0px, 0px);}
    50% {transform: translate(0px, calc(var(--tani) * 4));}
}

/*下部メニュー*/
div.undermenu-area{
    display: flex;
    position: absolute;
    top: calc(var(--tani) * 1177);
    margin: 0px;
    padding: 0px;
    /*width: calc(var(--tani) * (1048 - 68));*/
    margin-left: calc(40 * var(--tani));
    padding-left: calc(var(--tani) * 40);
}

/*箱のやつ*/
.box{
    display: block;
    width: calc(var(--tani) * 27);
    height: calc(var(--tani) * 27);
    margin: 0px;
    margin-top: calc(var(--tani) * 10);
    margin-right: calc(var(--tani) * (1048 - 4 * (206 + 17) - (45 + 68)));
}

.box-kado1{
    display: block;
    margin: 0px;
    padding: 0px;
    width: 0px;
    height: 0px;
}

.box-kado1::before{
    content: "";
    display: block;
    position: relative;
    width: calc(var(--tani) * 3);
    height: calc(var(--tani) * 10);
    background-color: var(--basecolor);

    /*角丸処理*/
    border-radius: calc(var(--tani) * 1.5);
}

.box-kado1::after{
    content: "";
    display: block;
    position: relative;
    width: calc(var(--tani) * 10);
    height: calc(var(--tani) * 3);
    background-color: var(--basecolor);

    /*角丸処理*/
    border-radius: calc(var(--tani) * 2.5);

    /*位置調整*/
    top: calc(var(--tani) * 10 * -1);
}

.box-kado2{
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 0px;
    height: 0px;

    /*位置調整*/
    left: calc(var(--tani) * 20);
}

.box-kado2::before{
    content: "";
    display: block;
    position: relative;
    width: calc(var(--tani) * 3);
    height: calc(var(--tani) * 10);
    background-color: var(--basecolor);

    /*角丸処理*/
    border-radius: calc(var(--tani) * 1.5);

    /*位置調整*/
    left: calc(var(--tani) * 8);
}

.box-kado2::after{
    content: "";
    display: block;
    position: relative;
    width: calc(var(--tani) * 10);
    height: calc(var(--tani) * 3);
    background-color: var(--basecolor);

    /*角丸処理*/
    border-radius: calc(var(--tani) * 1.5);

    /*位置調整*/
    top: calc(var(--tani) * 10 * -1);
}

.box-kado3{
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 0px;
    height: 0px;

    /*位置調整*/
    top: calc(var(--tani) * 20);
}

.box-kado3::before{
    content: "";
    display: block;
    position: relative;
    width: calc(var(--tani) * 3);
    height: calc(var(--tani) * 10);
    background-color: var(--basecolor);

    /*角丸処理*/
    border-radius: calc(var(--tani) * 1.5);
}

.box-kado3::after{
    content: "";
    display: block;
    position: relative;
    width: calc(var(--tani) * 10);
    height: calc(var(--tani) * 3);
    background-color: var(--basecolor);

    /*角丸処理*/
    border-radius: calc(var(--tani) * 1.5);

    /*位置調整*/
    top: calc(var(--tani) * 3 * -1);
}

.box-kado4{
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 0px;
    height: 0px;

    /*位置調整*/
    top: calc(var(--tani) * 20);
    left: calc(var(--tani) * 20);
}

.box-kado4::before{
    content: "";
    display: block;
    position: relative;
    width: calc(var(--tani) * 3);
    height: calc(var(--tani) * 10);
    background-color: var(--basecolor);

    /*角丸処理*/
    border-radius: calc(var(--tani) * 1.5);

    /*位置調整*/
    left: calc(var(--tani) * 8);
}

.box-kado4::after{
    content: "";
    display: block;
    position: relative;
    width: calc(var(--tani) * 10);
    height: calc(var(--tani) * 3);
    background-color: var(--basecolor);

    /*角丸処理*/
    border-radius: calc(var(--tani) * 1.5);

    /*位置調整*/
    top: calc(var(--tani) * 3 * -1);
}

div.underarea-button{
    display: flex;
    width: calc(var(--tani) * 125);
    height: calc(var(--tani) * 48);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 9999px;
    margin-left: calc(var(--tani) * 10);

    /*文字周り*/
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: var(--basecolor);
    letter-spacing: 0.015em;
    font-size: calc(var(--tani) * 18);
    line-height: calc(var(--tani) * 48);

}

/*ロゴのエリア（共通）*/
.logo{
    display: block;
    height: calc(var(--tani) * 48);
    width: calc(var(--tani) * 48);
    margin-right: calc(var(--tani) * 6);
}

/*三角標準形*/
.triangle{
    display: block;
    height: calc(var(--tani) * 24);
    width: calc(var(--tani) * 3);
    background-color: var(--basecolor);
    border-radius: 9999px;

    /*位置調整*/
    margin-top: calc(var(--tani) * 11);
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.triangle::before{
    content: "";
    display: block;
    position: relative;
    width: calc(var(--tani) * 3);
    height: calc(var(--tani) * sin(45deg) * 24);
    rotate: -45deg;
    background-color: var(--basecolor);
    border-radius: 9999px;

    /*位置調整*/
    top: calc(var(--tani) * -2);
    left: calc(var(--tani) * sin(45deg) * 13 - (var(--tani) * 4))
}

.triangle::after{
    content: "";
    display: block;
    position: relative;
    width: calc(var(--tani) * 3);
    height: calc(var(--tani) * sin(45deg) * 24);
    rotate: 45deg;
    background-color: var(--basecolor);
    border-radius: 9999px;

    /*位置調整*/
    top: calc(var(--tani) * sin(45deg) * 11 * -1);
    left: calc(var(--tani) * sin(45deg) * 13 - (var(--tani) * 4))
}

/*skipの三角位置調整*/
.skip div.triangle{
    margin-left: calc(var(--tani) * 23);
}

/*skipの線*/
.skipline{
    display: block;
    position: relative;
    height: calc(var(--tani) * 24);
    width: calc(var(--tani) * 3);
    background-color: var(--basecolor);
    border-radius: 9999px;

    /*位置調整*/
    top: calc(var(--tani) * 24 * -1);
    left: calc(var(--tani) * 19 + (sin(45deg) * var(--tani) * 24));
}

/*ログやるよー*/

.logline1{
    display: block;
    width: calc(var(--tani) * 3);
    height: calc(var(--tani) * 9);
    background-color: var(--basecolor);
    border-radius: 9999px;
    rotate: -45deg;
}

.logline1::before{
    content: "";
    display: block;
    position: relative;
    height: calc(var(--tani) * 3);
    width: calc(var(--tani) * 7);
    border-radius: 9999px;
    rotate: -45deg;
    background-color: var(--basecolor);

    /*位置調整*/
    top: calc(var(--tani) * 6);
    left: calc(var(--tani) * 3);
}

.logline1::after{
    content: "";
    display: block;
    position: relative;
    height: calc(var(--tani) * 3);
    width: calc(var(--tani) * 7);
    border-radius: 9999px;
    rotate: 45deg;
    background-color: var(--basecolor);

    /*位置調整*/
    top: calc(var(--tani) * 2);
    left: calc(var(--tani) * -7);
}

.logbox1{
    display: block;
    width: calc(var(--tani) * 16);
    height: calc(var(--tani) * 16);
    border: solid calc(var(--tani) * 3) var(--basecolor);
    border-top-left-radius: calc(var(--tani) * 22 * 0.5);
    border-bottom-left-radius: calc(var(--tani) * 22 * 0.5);
    border-bottom-right-radius: calc(var(--tani) * 22 * 0.5);
}

.logbox1::before{
    content: "";
    display: block;
    position: relative;
    height: calc(var(--tani) * 3);
    width: calc(var(--tani) * 10);
    border-radius: 9999px;
    background-color: var(--basecolor);

    /*位置調整*/
    top: calc(var(--tani) * 4);
    left: calc(var(--tani) * 4);
}

.logbox1::after{
    content: "";
    display: block;
    position: relative;
    height: calc(var(--tani) * 3);
    width: calc(var(--tani) * 7);
    border-radius: 9999px;
    background-color: var(--basecolor);

    /*位置調整*/
    top: calc(var(--tani) * 6);
    left: calc(var(--tani) * 7);
}

.logbox2{
    display: block;
    width: calc(var(--tani) * 16);
    height: calc(var(--tani) * 16);
    border: solid calc(var(--tani) * 3) var(--basecolor);
    border-top-left-radius: calc(var(--tani) * 22 * 0.5);
    border-top-right-radius: calc(var(--tani) * 22 * 0.5);
    border-bottom-right-radius: calc(var(--tani) * 22 * 0.5);
}

.logbox2::before{
    content: "";
    display: block;
    position: relative;
    height: calc(var(--tani) * 3);
    width: calc(var(--tani) * 10);
    border-radius: 9999px;
    background-color: var(--basecolor);

    /*位置調整*/
    top: calc(var(--tani) * 4);
    left: calc(var(--tani) * 3);
}

.logbox2::after{
    content: "";
    display: block;
    position: relative;
    height: calc(var(--tani) * 3);
    width: calc(var(--tani) * 7);
    border-radius: 9999px;
    background-color: var(--basecolor);

    /*位置調整*/
    top: calc(var(--tani) * 7);
    left: calc(var(--tani) * 3);
}

.logline2{
    display: block;
    width: calc(var(--tani) * 3);
    height: calc(var(--tani) * 9);
    background-color: var(--basecolor);
    border-radius: 9999px;
    rotate: -45deg;
}

.logline2::before{
    content: "";
    display: block;
    position: relative;
    height: calc(var(--tani) * 3);
    width: calc(var(--tani) * 7);
    border-radius: 9999px;
    rotate: -45deg;
    background-color: var(--basecolor);

    /*位置調整*/
    top: calc(var(--tani) * 1);
    left: calc(var(--tani) * -7);
}

.logline2::after{
    content: "";
    display: block;
    position: relative;
    height: calc(var(--tani) * 3);
    width: calc(var(--tani) * 7);
    border-radius: 9999px;
    rotate: 45deg;
    background-color: var(--basecolor);

    /*位置調整*/
    top: calc(var(--tani) * -1);
    left: calc(var(--tani) * 3);
}

/*ログパーツの位置調整*/
.logline1{
    position: relative;
    top: calc(var(--tani) * -4);
    left: calc(var(--tani) * sin(45deg) * 13);
}

.logbox1{
    position: relative;
    top: calc(sin(45deg) * var(--tani) * 13 * -1 - (var(--tani) * 4));
    left: calc(var(--tani) * 19);
}

.logbox2{
    position: relative;
    top: calc(var(--tani) * 23 * -1);
    left: calc(var(--tani) * 4)
}

.logline2{
    position: relative;
    top: calc(var(--tani) * -33);
    left: calc(var(--tani) * 33);
}

/*ログの位置調整*/
.log{
    width: calc(var(--tani) * (78 - 25));
    height: calc(var(--tani) * (78 - 13));
    padding: 0px;
    margin: 0px;
    padding-top: calc(var(--tani) * 11);
    padding-left: calc(var(--tani) * 16);
}

/*AUTOの位置調整とか*/
.ikkome{
    margin-left: calc(var(--tani) * 20);
}

.nikome{
    position: relative;
    top: calc(var(--tani) * 35 * -1);
    left: calc(var(--tani) * 37);
}

/*早送り*/
.clip{
    clip-path: polygon(0 0, 350% 0, 350% 100%, 0 100%);
}

.tri1{
    position: relative;
    left: calc(var(--tani) * 20);
}

.tri2{
    position: relative;
    top: calc(var(--tani) * 35 * -1);
    left: calc(var(--tani) * (8 + 20));
}

.tri3{
    position: relative;
    top: calc(var(--tani) * 70 * -1);
    left: calc(var(--tani) * 8 * 2 + var(--tani) * 20);
}


/*矢印の色*/
.arrow.saki::before,
.arrow.saki::after{
    background-color: #ff5164;
}

.arrow.temari::before,
.arrow.temari::after{
    background-color: #25b6ef;
}

.arrow.kotone::before,
.arrow.kotone::after{
    background-color: #f8d71e;
}

.arrow.mao::before,
.arrow.mao::after{
    background-color: #c45dca;
}

.arrow.lilja::before,
.arrow.lilja::after{
    background-color: #98ccd9;
}

.arrow.china::before,
.arrow.china::after{
    background-color: #ff8921;
}

.arrow.sumika::before,
.arrow.sumika::after{
    background-color: #92dd5b;
}

.arrow.hiro::before,
.arrow.hiro::after{
    background-color: #00bed8;
}

.arrow.sena::before,
.arrow.sena::after{
    background-color: #f5b04b;
}

.arrow.ume::before,
.arrow.ume::after{
    background-color: #f74b29;
}

.arrow.rinami::before,
.arrow.rinami::after{
    background-color: #fd7ec3;
}

.arrow.misuzu::before,
.arrow.misuzu::after{
    background-color: #70a3fc;
}

.arrow.tsubame::before,
.arrow.tsubame::after{
    background-color: #8974ff;
}

.arrow.grey::before,
.arrow.grey::after{
    background-color: #978d83;
}


/*各アイドルの色*/

select.saki{
    background: linear-gradient(to right, #ff5164,#ffb8a8);
    color: #ffffff;
}

select.temari{
    background: linear-gradient(to right, #25b6ef,#84e7e4);
    color: #ffffff;
}

select.kotone{
    background: linear-gradient(to right, #f8d71e,#feb6d3);
    color: #ffffff;
}
select.mao{
    background: linear-gradient(to right, #c45dca,#faaaa9);
    color: #ffffff;
}

select.lilja{
    background: linear-gradient(to right, #d1e3e5,#98ccd9);
    color: var(--textcolor);
}

select.china{
    background: linear-gradient(to right, #ff8921,#ff5e57);
    color: #ffffff;
}

select.sumika{
    background: linear-gradient(to right, #92dd5b,#cce21f);
    color: var(--textcolor);
}

select.hiro{
    background: linear-gradient(to right, #00bed8,#5380fd);
    color: #ffffff;
}

select.sena{
    background: linear-gradient(to right, #f5b04b,#f3e781);
    color: var(--textcolor);
}

select.ume{
    background: linear-gradient(to right, #f74b29,#f0c64e);
    color: #ffffff;
}

select.rinami{
    background: linear-gradient(to right, #fd7ec3,#f4b7fd);
    color: #ffffff;
}

select.misuzu{
    background: linear-gradient(to right, #70a3fc,#ceafff);
    color: #ffffff;
}

select.tsubame{
    background: linear-gradient(to right, #8974ff,#c7b7ff);
    color: #ffffff;
}

select.grey{
    background: linear-gradient(to right, #978d83,#978d83);
    color: #ffffff;
}
