:root{
    --unit: 1px;
    --textcolor: #000000;
    --scale: 1;
}

body{
    background-color: rgb(224, 215, 215);
    padding: 0;
    margin: 0;
}

#mobile{
    display: block;
    position: relative;
    height: 100vh;
    width: calc(100vh * 9 / 16);
    padding: 0;
    margin: 0;
    background-color: aqua;
}

#video{
    object-fit: cover;
    position: absolute;
    inset: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:0;
    pointer-events: none;
}

#cam{
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:1;
}

#ui{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

/*セリフ部分の枠*/
.dialogue-content{
    position: absolute;
    display: block;
    width: 78%;
    margin: 0;
    padding: 0;
    /*位置調整*/
    left: 11%;
    top: 76.4%;
}

.dialogue-content p{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;

    /*文字周り*/
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--textcolor);
    
    /*文字サイズ調整*/
    font-size: calc(1vh * 2.02 * var(--scale));
    line-height: calc(1vh * 2.9 * var(--scale));
    letter-spacing: 0.015em;
}

