:root{
    --unit: 0.8pt;
    --textcolor: #2e2e2e;
    --scale: 0.6;
    --bordercolor: #b6b6b6;
    --focus: #f5f5f5;
    --white: #ffffff;
    --menurichorange: #ffa920;
    --menuorange: #ffc755;
    --menupaleorange: #ffdaa3;
}